body{
    background:#f7f7f7;
}

#layouthead{
    background-color: #559ccd;
    padding: 10px;

}

h1.header_shit{
    color: #FEB06A;
}

table.header_shit{
    background-color: white;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.5);
}

td.header_shit{
    width: 25%;
    padding: 10px;
    color: #53595f;
}

.header_shit a{
    color: #53595f;
}

td.header_shit:hover{
    background-color: #9fcfd5;
    padding: 10px;
    transition: background-color 0.2s;
}

p.comment{
    background-color: lightgray;
    text-align: left;
    font-family: myFirstFont;
    color: black;
    padding: 5px;
}

p.max_voted{
    background-color: #56ce68;
    text-align: left;
    font-family: myFirstFont;
    color: white;
    padding: 5px;
}

img.like_button:hover{
    width: 24px;
    height: 24px;
}


table.fos{
    border-bottom-style: solid;
    width: 100%;
    border-bottom-color:lightgray;
}

textarea {
  resize: none;
}

p.questionlist{
    font-style: italic;
    padding: 10px;
}

table.commenttable{
    border-style: solid;
    border-collapse: collapse;
    border-color: #FBF6F3;
    border: 1px solid black;
    margin:0%;
}

td.subtable{
    color: white;
    font-family: myFirstFont;
    font-size: 16px;
    padding: 3px;
    text-align: left;
}


button{
    height: 40px;
    border-color: transparent;
    color: white;
    background-color:#5D6C89;
    font-family: myFirstFont;
    font-size: 18px;
}

button.delbutton{
    height: 40px;
    border-radius: 40px;
    border-color: transparent;
    color: white;
    background-color:#f2c07f;
    font-family: myFirstFont;
    font-size: 18px;
}

select{
    width: 100px;
    height: 40px;
    border-color: transparent;
    color: white;
    font-family: myFirstFont;
    background-color:#9ec4e2;
    font-size: 18px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-align: center;
}

input{
    width:200px;
    height: 35px;
    border-color: transparent;
    font-family: myFirstFont;
    background-color:#559ccd;
    font-size: 18px;
    color: white;
    text-align: center;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.2);
}

input.checkbox{
    width: 10px;
    height: 10px;
}

p.orange{
    font-family: myFirstFont;
    font-size: 18px;
    color:white;
    background-color:#559ccd;
    padding: 10px;
}

p.display_question{
    font-family: myFirstFont;
    font-size: 24px;
    color: black;
    margin-top: 0px;
}

h1.display_question{
    font-family:myFirstFont;
    color: black;
    font-size:36px
}

table.switching_color{
    width: 100%;
    color: black;
    background-color: #3775a7;

}

td.switching_color{
    padding: 10px;
    color:#101820FF;

}

tr.switching_color:nth-child(2n+1){
    background-color: #559ccd;

}

tr.switching_color:{
    background-color: #53595f;
    color:#f2c07f;

}

#post_question{
    position: absolute;
    z-index: 10;
    right: 15%;
}

.search_div{
    padding: 10px;
    background-color: #559ccd;
}



body{
    margin:0;
}

a{
    font-family: myFirstFont;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

@font-face {

  font-family: myFirstFont;
  src: url(Exo-Regular.ttf);
}

@font-face {

    font-family: breaking;
    src: url(Heart-Breaking-Bad.otf);
}

h1.braking{
    font-size: 85px;
    font-weight: normal;
    font-family: breaking;
    color: white;
    padding: 0px;
    margin: 0px;
}

textarea{
    border-color: transparent;
    font-family: myFirstFont;
    background-color:lightgray;
    font-size: 18px;
    color: black;
    text-align: center;
}

p.subcomment{
    background-color: #8C93A3;
    margin-left: 5%;
    font-family: myFirstFont;
    color: white;
}

form.subcomment{
    background-color: #f2c07f;
    margin-left: 5%;
    font-family: myFirstFont;
    font-size: 12px;
    padding: 5px;
    color: white;
}

button.subcomment{
    border-color: transparent;
    color: white;
    background-color:#5D6C89;
    font-family: myFirstFont;
    font-size: 12px;
    margin-left: 5%;
}

input.subcomment{
    height: 15px;
    border-color: transparent;
    font-family: myFirstFont;
    background-color:lightgray;
    font-size: 12px;
    color: black;
    text-align: center;
    margin-left: 5%;
    transition: height 1s;
}

input.subcomment:focus{
    height: 25px;
    transition: height 1s;
}

p.subcomment_text{
    background-color: #3775a7;
    font-family: myFirstFont;
    font-size: 12px;
    margin-left: 5%;
    color: white;
    padding: 5px;
}

input.edit_subcomment{
    width: 200px;
    height: 30px;
    border-color: transparent;
    border-radius: 40px;
    font-family: myFirstFont;
    background-color:lightgray;
    font-size: 12px;
    color: black;
    text-align: center;
}


#search_parent {
    display: table;
    width: 100%;

}

.searchbar{
    right:5%;
}

.right_td{
    right: 5%;
}

.header_table{
    width:100%;
}

#search_parent{
    position: relative;

}

#search_parent span {
    display: inline;
    font-family: breaking;
    src: url(Heart-Breaking-Bad.otf);
    font-size: 85px;
    font-weight: normal;
    font-family: breaking;
    color: white;
    padding: 0px;
    margin: 0px;
}

#add_question_div{
    margin-left:10%;
    margin-right: 10%;
    margin-top:2%; margin-bottom:2%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
}

.login_link{
    align:"center";
    color:black;
}