table.header_shit{
    background-color: lightgray;
}

td.header_shit{
    padding: 10px;
}
td.header_shit:hover{
    background-color: cadetblue;
        padding: 10px;
}

p.comment{
    background-color: lightgray;
    text-align: left;
}

p.max_voted{
    background-color: #56ce68;
    text-align: left;
}

img.like_button:hover{
    width: 24px;
    height: 24px;
}


table.fos{
    border-bottom-style: solid;
    width: 100%;
    border-bottom-color:lightgray;
}

textarea {
  resize: none;
}

p.questionlist{
    font-style: italic;
    padding: 10px;
}

table.commenttable{
    border-style: solid;
    border-collapse: collapse;
    border-color: #86989B;
    border: 1px solid black;
    margin:0%;
}

td.commenttable{
    width: 100%;
    border-style:solid;
    border-color: #86989B;
    border-collapse: collapse;
    border: 1px solid black;
    margin:0%;
}

table.commenttable2{
    margin: 0%;
    width:100%;
    border-style: solid;
    border-collapse: collapse;
    border-color: #86989B;
    border: 1px solid black;
}

