table.header_shit{
    background-color: lightgray;
}

td.header_shit{
    padding: 10px;
}
td.header_shit:hover{
    background-color: cadetblue;
        padding: 10px;
}

p.comment{
    background-color: lightgray;
    text-align: left;
}

p.max_voted{
    background-color: #56ce68;
    text-align: left;
}

img.like_button:hover{
    width: 24px;
    height: 24px;
}


table.fos{
    border-bottom-style: solid;
    width: 100%;
    border-bottom-color:lightgray;
}

textarea {
  resize: none;
}