{% extends "layout.html" %}

{% block content %}
    <p>

    <div id="add_question_div">
        <form action="/add-question" method="post">
            <center>
            <p class="orange">You have a question? Just ask it!</p>
            <p align="left">
                <input name="new_question" type="text" required placeholder="Ask me anything!">
            </p>

            <p align="left">
                <textarea name="message" required placeholder="Describe your question!" cols="30" rows="5"></textarea>
            </p>
            <p align="left">
                <input name="image" type="text" placeholder="Image link (not required)">
            </p>

            <p align="left">
                <select name="title">
                    {% for tag in tags %}
                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
            </p>



            <p align="right">
                <button id="post_question" type="submit">Post Question</button>
            </p>
            </center>
        </form>
            <p align="left">
                <form action="/create-tag-then-return" method="post">
                    <input type="text" name="title" placeholder="New tag">
                    <button type="submit">Add tag</button>
                </form>
            </p>
        </div>
    </p>
{% endblock %}