{% extends "layout.html" %}

{% block content %}
    <p>

        <form action="/add-question" method="post">
            <center>
            <p class="orange">You have a question? Just ask it!</p>
            <p align="left">
                <input name="new_question" type="text" required placeholder="Ask me anything!">
            </p>

            <p align="left">
                <textarea name="message" required placeholder="Describe your question!" cols="30" rows="5"></textarea>
            </p>
            <p align="left">
                <input name="image" type="text" placeholder="Image link (not required)">
            </p>
            <p align="right">
                <button type="submit">Post Question</button>
            </p>
            </center>
        </form>

    </p>
{% endblock %}