{% extends "layout.html" %}

{% block content %}

    <p>
        <table>
            <thead>
                <td>Questions</td>
            </thead>
            <tbody>
                {% for question in questions %}
                    <tr>
                        <td><a class='userpagelink' href="{{ url_for('display_question', question_id = question.id, plus_view = '1') }}">{{ question.title }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </p>
    <p>
        <table>
            <thead>
                <td>Answers</td>
            </thead>
            <tbody>
                {% for question in answers %}
                    <tr>
                        <td><a class='userpagelink' href="{{ url_for('display_question', question_id = question.id, plus_view = '1') }}">{{ question.title }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </p>

{% endblock %}
