{% extends "layout.html" %}
{% block content %}

    <div id="add_question_div">
    {% for subcomment in subcomments %}
        {% if (subcomment.id|int) == (comment_id|int) %}
            <form action="/edit_subcomment/{{ comment_id }}/{{ question_id }}" method="post">
                <p>
                    <input class="edit_subcomment" name="message" type="text" value="{{ subcomment.message }}">
                </p>
                <p>
                    <button type="submit">Edit subcomment</button>
                </p>
            </form>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}