{% extends "layout.html" %}

{% block content %}

    <div id="add_question_div">
    <p>
    <center>
    <p class="orange">Edit your question!</p>
 <form action="/edit-question/{{ question_id }}" method="post">
     {% for record in questions %}
     {% if (record['id']|int) == (question_id|int)  %}

         <p align="left">
     <input required type="text" name="title" placeholder="title" value={{ record['title'] }}><br>
         </p>
         <p align="left">
     <textarea cols="50" rows="6" required name="message" placeholder="description">{{ record['message']}}</textarea><br></p>
         <p align="left">
     <input type="text" name="image" placeholder="image link" value={{ record['image'] }}><br></p>
         <p align="right">
     <button type="submit">Edit question</button></p>
     {% endif %}
     {% endfor %}
 </form>
</p>
</center>
    </div>
{% endblock %}