<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='padlizsan.png') }}">
        <script type="text/javascript" defer src="{{ url_for('static', filename='javascript.js') }}"></script>
        <title>Flask Overflow</title>

</head>
<body>
    <div id="layouthead">
    <!--<div align="right" class="searchbar">
        <form id="search_bar" action="/list" method="post">
            <input name="search-field" placeholder="Search Something!">
            <button type="submit">Search</button>
        </form>
    </div>
    <div id="search_parent">
        <span>Flask Overflow</span>
    </div> -->
        <table class="header_table">
            <td>
                <div id = "search_parent">
                    <span>Flask Overflow</span>
                </div>
            </td>

            <td>
                {% if session['user_id'] == 0 %}
                    <a href = "{{ url_for('login') }}">I wan't to login!</a>
                {% else %}
                    Logged in as <a href="{{ url_for('display_user', user_id = session['user_id']) }}">{{ session['uname'] }}</a>
                {% endif %}
            </td>

            <td class="right_td" align="right">
                <div align="right" class="searchbar">
                        <form id="search_bar" action="/list" method="post">
                            <input name="search-field" placeholder="Search Something!">
                            <button type="submit">Search</button>
                        </form>
                    </div>
            </td>
        </table>
        <br>
        <table class='header_shit' width="100%">
        <tr align="center">
            <td class="header_shit"><a href="{{ url_for('main_page') }}">Main page</a></td>
            <td class="header_shit"><a href="{{ url_for('listing_questions') }}">Display All Questions</a></td>
            <td class="header_shit"><a href="{{ url_for('add_question') }}">Add Question</a></td>
            <td class="header_shit"><a href="{{ url_for('list_users') }}">List Users</a></td>
        </tr>
    </table>
    </div>


        <div id="content" class="content-wrapper">
            {% block content %} {% endblock %}
        </div>

</body>
</html>