<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='padlizsan.png') }}">
        <title>Flask Overflow</title>
</head>
<body>
    <div id="search_parent">
        <span>Flask Overflow</span>
        <form id="search_bar" action="/list" method="post">
            <input name="search-field">
            <button type="submit">Search</button>
        </form>
    </div>
    <br>
        <table class='header_shit' width="100%">
        <tr align="center">
            <td class="header_shit"><a href="{{ url_for('main_page') }}">Main page</a></td>
            <td class="header_shit"><a href="{{ url_for('listing_questions') }}">Display All Questions</a></td>
            <td class="header_shit"><a href="{{ url_for('add_question') }}">Add Question</a></td>
            <td class="header_shit"><a href="{{ url_for('super_secret') }}">Super Secret Button</a></td>
        </tr>
    </table>
    <div class="content-wrapper">
        {% block content %} {% endblock %}
    </div>
</body>
</html>