<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div id="add_question_div">
        {% if not verification %}
           <h1 style="color: red" align="center">*Invalid username or password!</h1>
        {% endif %}
            <div>
                <form action="/login" method="post">
                    <table align="center">
                    <tbody>
                    <p>
                        <h1 align="center">Login</h1>
                    </p>
                    <tr>
                        <form action="/login" method="post">
                            <tr><td><input placeholder="username" name="uname"></td></tr>
                            <tr><td><input type="password" placeholder="password" name="pw"></td></tr>
                            <tr><td align="center"><button type="submit">Login</button></td></tr>
                        </form>
                    </tr>
                    </tbody>
                </table>
                </form>
                <p align="center">
                <a class="login_link" href="{{ url_for('super_secret') }}">I don't want to login</a><br>
                <a class="login_link" href="{{ url_for('register') }}">I don't have an account yet</a>
                </p>
            </div>
</body>
</html>
