<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div>
        <form action="/" method="post">
            <table>
                <tbody>
                <tr>
                    <td><input value="username"></td><br>
                    <td><input type="password" value="password"></td>
                    <td><input type="submit" value="Login"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>
{% endblock %}