<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div>
        <form action="/" method="post">
            <table>
                <tbody>
                <tr>
                    <td>
                        <input value="username"><br>
                        <input type="password" value="password"><br>
                        <input type="submit" value="Login"><br>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
</html>
{% endblock %}