{% extends "layout.html" %}

{% block content %}

    <p>
    <center>
    <p class="orange">Add a tag to your question!</p>
    <form action="/question/{{ question_id }}/new-tag" method="post">
        <select name="tagid">
        {% for tag in tags %}
            <option value ={{ tag.id }}>{{ tag.name }}</option>
        {% endfor %}
        </select>
    <button type="submit">Choose tag</button>
    </form>
    <form action="/create-tag" method="post">
        <input name = 'question_id' type="hidden" value="{{ question_id }}">
        <input type="text" name="title" placeholder="New tag">
        <button type="submit">Add tag</button>
    </form>
    </p>
    </center>
{% endblock %}