
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{ url_for('static', filename='padlizsan.png') }}">
        <script type="text/javascript" defer src="{{ url_for('static', filename='javascript.js') }}"></script>
        <title>Flask Overflow</title>
    <meta charset="UTF-8">
    <title>Register</title>

</head>
<body>

    {% if request.method == 'GET' %}
        <div class="login-register">
            <table class="login/register" align="center">
                <tbody>
                    <tr>
                        <form action="/register" method="post">
                            <td><input value="username" name="uname"></td><br>
                    <tr><td><input type="password" value="password" name="pw"></td></tr>
                            <tr><td style="color: #30799B">* Confirm password!</td></tr>
                            <tr><td><input type="password" value="password" name="c_pw"></td></tr>
                            <tr><td><input type="email" value="E-mail" name="email"></td></tr>
                            <tr><td><select>
                                <option value="Female" name="gender2">Female</option>
                                <option value="Male" name="gender">Male</option>
                                <option value="Helicopter" name="heli">Helicopter</option>
                            </select></td></tr>
                           <tr><td><button type="submit">Registration</button></td></tr>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
    {% elif request.method == 'POST' %}
        {% if is_same_pw %}
            <div class="login-register">
                <table class="login-register">
                    <tbody>
                        <tr>
                            <form action="/register" method="post">
                                <tr><td><input value="username" name="uname"></td><br></tr>
                                <tr><td><input type="password" value="password" name="pw"></td></tr>
                                <tr><td  style="color: red">* Password doesen't match!</td></tr>
                                <tr><td><input type="password" value="password" name="c_pw"></td></tr>
                                <tr><td><input type="email" value="E-mail" name="email"></td></tr>
                                <tr><td><select>
                                <option value="Female" name="gender2">Female</option>
                                <option value="Male" name="gender">Male</option>
                                <option value="Helicopter" name="heli">Helicopter</option>
                            </select></td></tr>
                                <tr><td><button type="submit">Registration</button></td></tr>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>

        {% elif is_username %}
            <div class="login-register">
                <table class="login-register">
                    <tbody>
                        <tr>
                            <form action="/register" method="post">
                                <tr><td><h3 style="color: darkred">This username is taken!</h3></td></tr>
                                <tr><td><input value="username" name="uname"></td><br></tr>
                                <tr><td><input type="password" value="password" name="pw"></td></tr>
                                <tr><td><input type="password" value="password" name="c_pw"></td></tr>
                                <tr><td><input type="email" value="E-mail" name="email"></td></tr>
                                <tr><td><select>
                                <option value="Female" name="gender2">Female</option>
                                <option value="Male" name="gender">Male</option>
                                <option value="Helicopter" name="heli">Helicopter</option>
                            </select></td></tr>
                                <tr><td><button type="submit">Registration</button></td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% elif is_email %}
            <div class="login-register">
                <table>
                    <tbody>
                        <tr>
                            <form action="/register" method="post">
                                <tr><td><input value="username" name="uname"></td><br></tr>
                                <tr><td><input type="password" value="password" name="pw"></td></tr>
                                <tr><td><input type="password" value="password" name="c_pw"></td></tr>
                                <tr><td><h3 style="color: darkred">This e-mail adress has already been used!</h3></td></tr>
                                <tr><td><input type="email" value="E-mail" name="email"></td></tr>
                                <tr><td><select>
                                <option value="Female" name="gender2">Female</option>
                                <option value="Male" name="gender">Male</option>
                                <option value="Helicopter" name="heli">Helicopter</option>
                            </select></td></tr>
                                <tr><td><button type="submit">Registration</button></td></tr>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endif %}
</body>

{% endblock %}
